/deep/.u-slot-content {
  .u-icon {
    margin-left: 32rpx;
  }
}

/deep/.sidebar-wrap {
  .u-drawer-left {
    background: #f6f6f6;
  }
  .sidebar-item {
    margin: 32rpx;
    padding: 32rpx;
    border-radius: 32rpx;
    background: #fff;
  }
}
