.slot-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32rpx;
  width: 100%;

  .navbar-search_wrap {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 32rpx;
    height: 64rpx;
    border-radius: 32rpx;
    background: #fff;
  }

  .navbar-location {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10rpx 32rpx;
    border-right: 1rpx solid $u-type-primary;
    width: 200rpx;
    height: 44rpx;
    font-size: 32rpx;
    color: #333333;
    .navbar-city_text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .navbar-search_btn {
    display: flex;
    align-items: center;
    padding: 0 32rpx;
    .custom-icon {
      margin-right: 8rpx;
    }
    .navbar-search_placeholder {
      color: #cccccc;
    }
  }

  .navbar-info_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    .navbar-info_text {
      font-size: 24rpx;
    }
  }

  /* loading动画 */
  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis 2s infinite;
    content: '\2026';
  }

  @keyframes ellipsis {
    from {
      width: 4rpx;
    }

    to {
      width: 36rpx;
    }
  }
}

.banner-wrap {
  position: relative;
  height: 410rpx;
  background: #ff6600;
  .banner {
    position: absolute;
    bottom: 0;
    padding: 24rpx 32rpx 48rpx;
    width: 100%;
    height: 392rpx;
    border-radius: 32rpx 32rpx 0 0;
    background: #fff;
  }
}
