@font-face {
  font-family: "custom-icon"; /* Project id 3142405 */
  src: url('https://at.alicdn.com/t/font_3142405_zzmuvu1882.woff2?t=1642150360399') format('woff2');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-my-selected:before {
  content: "\e654";
}

.custom-icon-home-selected:before {
  content: "\e655";
}

.custom-icon-my-unselected:before {
  content: "\e656";
}

.custom-icon-home-unselected:before {
  content: "\e659";
}

.custom-icon-zu4029:before {
  content: "\e628";
}

.custom-icon-zu4065:before {
  content: "\e629";
}

.custom-icon-dianji1:before {
  content: "\e63e";
}

.custom-icon-Frame1:before {
  content: "\e640";
}

.custom-icon-jianli:before {
  content: "\e650";
}

.custom-icon-xiaoxi:before {
  content: "\e675";
}

.custom-icon-dingdan:before {
  content: "\e679";
}

.custom-icon-yunshuzhong:before {
  content: "\e67a";
}

.custom-icon-paisongzhong:before {
  content: "\e67b";
}

.custom-icon-daiqujian:before {
  content: "\e67e";
}

.custom-icon-a-weixin2:before {
  content: "\e67f";
}

.custom-icon-wodekefu1:before {
  content: "\e681";
}

.custom-icon-shezhi:before {
  content: "\e67d";
}

.custom-icon-xiugaimima:before {
  content: "\e680";
}

.custom-icon-banbenguanli:before {
  content: "\e682";
}

.custom-icon-icon-search:before {
  content: "\e689";
}

.custom-icon-mima:before {
  content: "\e68a";
}

.custom-icon-zhanghao:before {
  content: "\e68b";
}

.custom-icon-zhaopian_pic:before {
  content: "\e693";
}

.custom-icon-Frame:before {
  content: "\e697";
}

.custom-icon-Frame-1:before {
  content: "\e698";
}

.custom-icon-a-shangchuantupian11:before {
  content: "\e69b";
}

.custom-icon-shangchuanshipin:before {
  content: "\e69d";
}

.custom-icon-gengduo:before {
  content: "\e69e";
}

.custom-icon-shanchu:before {
  content: "\e69f";
}

.custom-icon-tuodong:before {
  content: "\e6a0";
}

.custom-icon-shaixuan:before {
  content: "\e6a1";
}

.custom-icon-a-rightarrow-little:before {
  content: "\e6a2";
}

.custom-icon-a-pengyouquan12:before {
  content: "\e6a4";
}

.custom-icon-yaoqingtu:before {
  content: "\e6a5";
}

.custom-icon-Frame2:before {
  content: "\e6a6";
}

.custom-icon-a-Group882:before {
  content: "\e6a7";
}

.custom-icon-zhanghao1:before {
  content: "\e6c9";
}

.custom-icon-mima1:before {
  content: "\e6cc";
}

.custom-icon-tianjia:before {
  content: "\e6ce";
}

.custom-icon-jian:before {
  content: "\e6cf";
}

